@media (min-width: 760px){
    #topo{
        position: absolute;
        z-index: 3;
        background: url('../images/fundobanner.jpg') no-repeat;
    }
}

.texto1{
    position: absolute;
}

.titulo1{
    color: #182a62;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
}
.textoimagem1{
    padding-left: 30px;
    font-size: 13px;
    margin-top: -10px;
    color: #676565;
    font-weight: bold;
}


.titulo5{
    color: #182a62;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
}
.textoimagem5{
    padding-left: 30px;
    font-size: 13px;
    margin-top: -10px;
    color: #676565;
    font-weight: bold;
}

.texto5{
    float: left;
    margin-top: 350px;
    position: absolute;
    text-align: right;
    margin-left: 0px;
}
@media (max-width: 1024px){
    .texto2 {
        margin-top: 285px;
        margin-left: 213px;
        position: absolute;
        text-align: right;
    }
    .texto3{
        color: #182a62;
        font-size: 18px;
        font-weight: bold;
        margin-left: 16px !important;
        margin-top: -65px !important;
    }
    .titulo3{
        color: #182a62;
        font-size: 18px;
        font-weight: bold;
        margin-left: 140px !important;
        margin-top: 80px;
    }
    .textoimagem3 {
        text-align: right;
        font-size: 13px;
        margin-top: -10px;
        color: #676565;
        font-weight: bold;
        margin-left: 81px !important;
    }

    .texto4 {
        float: right;
        position: absolute;
        text-align: right;
        margin-top: 358px;
        margin-left: 81%;
    }

    .texto5 {
        float: right;
        margin-top: 350px;
        position: absolute;
        text-align: right;
        margin-left: 0;
    }
}


@media (max-width: 768px){
    .texto1{
        position: static;
    }
    .texto2{
        margin-top: 0;
        margin-left: 0;
        position: static;
        text-align: left;
        float: left;
    }
    .texto3{
        float: left;
        margin-top: 0 !important;
    }
    .titulo3{
        color: #182a62;
        font-size: 18px;
        font-weight: bold;
        margin-left: 0 !important;
        margin-top: 0 !important;;
    }
    .textoimagem3{
        text-align: right;
        font-size: 13px;
        margin-top: -10px;
        color: #676565;
        font-weight: bold;
        margin-left: 0 !important;;
    }
    .titulo4 {
        color: #182a62;
         padding-top: 0px;
         padding-left: 0px;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
    }

    .texto4 {
        float: left !important;
        position: static !important;
        margin-top: 0 !important;
        margin-left: 16px !important;
    }

    .texto5 {
        float: left;
        margin-top: 0px;
        position: absolute;
        text-align: left;
        margin-left: 16px;
    }

    .titulo5 {
        color: #182a62;
         padding-top: 0;
         padding-left: 0;
        font-size: 18px;
        font-weight: bold;
    }

    .textoimagem5 {
        padding-left: 0;
        font-size: 13px;
        margin-top: -10px;
        color: #676565;
        font-weight: bold;
    }
    img#foto5 {
        width: 100%;
    }
}



.titulo2{
    color: #182a62;

    font-size: 18px;
    font-weight: bold;
}
.textoimagem2{

    font-size: 13px;
    margin-top: -10px;
    color: #676565;
    font-weight: bold;
}


.texto3{
    /*float:right;*/
}

.titulo3{
    color: #182a62;
    font-size: 18px;
    font-weight: bold;
    margin-left: 189px;
    margin-top: 80px;
}
.textoimagem3{
    text-align: right;
    font-size: 13px;
    margin-top: -10px;
    color: #676565;
    font-weight: bold;
    margin-left: 132px;
}
.wpcf7-response-output.wpcf7-mail-sent-ok{
    text-align: center;
    color:#ffffff;
}


.texto4 {
    float: right;
    position: absolute;
    margin-top: 55%;
    margin-left: 81%;
}

.titulo4{
    color: #182a62;

    font-size: 18px;
    font-weight: bold;
}
.textoimagem4{

    font-size: 13px;
    margin-top: -10px;
    color: #676565;
    font-weight: bold;
}



.texto5{
    position: absolute;
    z-index: 5;
    margin-top: -190px;
}

@media (max-width: 992px){
    .texto5{
         position: relative;
         z-index: 0;
         margin-top: 0px;

    }
    .texto6{
        float: left !important;
        margin-right: 0px !important;
        position: relative;
        margin-top: 0px!important;
        margin-left: 16px;
    }
}


.texto6{
    float: right;
    margin-right: -160px;
    position: relative;
    margin-top: -100px;
}

.titulo6{
    color: #182a62;

    font-size: 18px;
    font-weight: bold;
}
.textoimagem6{

    font-size: 13px;
    margin-top: -10px;
    color: #676565;
    font-weight: bold;
}


.pacote{
    margin-top:15%;
}



.banners{
    margin-top: -80px;
}

@media (max-width: 992px) {
    .banners{
        margin-top: -130px;

    }

}

@media (max-width: 768px) {
    .banners{
        display: none;
    }
}


@media (min-width: 960px) {
    .menu{
        margin-top: 15px;
        float: right;
    }
}

@media (max-width: 767px) {
    #carrosselbanner{
        /*display: none;*/
    }

    #topo{
        position: relative;

    }
    #carousel-example-generic .carousel-inner .item{
        background-image: none !important;
        background-color: #012664;
        margin-top: -100px;
        height: initial !important;
        margin-bottom: -50px;
    }
    .carousel-caption{
        margin-left: -50px;
        width: 93%;
    }
    .carousel-caption h3{
        font-size: 16px;
    }
    .carousel-caption h4{
        font-size: 14px;
    }

    .carousel-caption p{
        font-size: 12px;
    }
    .carousel-caption strong{
        font-size: 13px;
    }

}




.img-topo img{
    width: 100%;
}
.navbar-wrapper{
    background: black;
    height: 78px;
    opacity: 0.2;
}
.logo{
    background: white;
    height: 78px;
    width: 370px;
}


@media (max-width: 767px){
    .logo{
        background: white;

    }

    .menu{
        background-color: #012664;
        float: none;
        text-align: center;
    }

    .navbar-toggle{
        float: left;
        position: absolute;
        margin-top: -60px;
    }

    .main-example .time {
            margin: 0px !important;
            margin-top: 25px !important;
            border-radius: 5px;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
            display: inline-block;
            text-align: center;
            position: relative;
    }
    .lab {
        display: inline-flex;
        margin-left: -60px !important;
    }

    .inp {
        background: #d0d0d0;
        width: 215px!important;
        height: 100%!important;
        text-align: center;
        padding: 9px;
    }

    span.label{
        color:black;
    }

    .titulos h4 {
        display: none;
    }

    .networking{
        margin-top: -48px !important;
    }
}

.logo img{
    float: right;
}
.corpo-menu{
    position: absolute;
    width: 100%;
}
#navbar ul li a{
    color: white;
}

#navbar ul li a:hover, #navbar ul li a:active, #navbar ul li a:focus{
    background: rgba(156, 156, 156, 0.71);
    -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;

}


.descricao{
    text-align: center;
}
.subLogo{
    text-align: center;
}


@media (min-width: 990px){


    .img1 img{
        /*width: 486px;*/
        /*height: 475px;*/
        /*object-fit: cover;*/
        /*object-position: center;*/
    }
    .img2 img{
        /*width: 500px;*/
        /*height: 334px;*/
        /*margin-top: -637px;*/
        /*margin-left: 546px;*/
    }
    .img3 img{
        /*margin-left: 374px;*/
        /*margin-top: -267px;*/
        border: solid 14px white;
        margin-top: -135px;
        position: relative;
        /*width: 449px;*/
        /*height: 309px;*/
        z-index: 5;
        float: right;
    }
    .img4 img{
        /*max-width: 703px;*/
        /*margin-left: 352px;*/
        /*width: 687px;*/
        /*height: 458px;*/
        margin-top: -80px;
        position: relative;
        z-index: 3;

    }
    .img5 img{
        width: 420px;
        height: 555px;
        object-fit: cover;
        object-position: center;
        margin-top: -200px;
        border: solid 10px white;
        position: relative;
        z-index: 4;
    }
    .img6 img{
        /*width: 389px;*/
        /*height: 243px;*/
        object-position: center;
        border: solid 10px white;
        /*margin-left: 418px;*/
        /*margin-top: -263px;*/
        margin-top: -295px;
        margin-left: 40px;
    }
}

.full{
    width: 100%;
}
.immersion_perfeita img{
     width: 100%;
 }
.entre_em_contato{
    background: #182A62;
}
.pacote_completo img{
    width: 100%;
}
.conheca img{
    width: 100%;
}
.desc-dest{
    display: inline-flex;
}
.fds{
    display: inline-flex;
    width: 88px;
}
.fds h1{
    font-size: 65px;
    font-weight: bolder;
    font-style: italic;
    margin-right: 7px;
}
.fds small{
    font-size: 14px;
    margin-top: 32px;
}
.aula{
    display: inline-flex;
    width: 106px;
}
.aula h1{
    font-size: 65px;
    font-weight: bolder;
    font-style: italic;
}
.aula small{
    font-size: 13px;
    margin-top: 25px;
    margin-left: 7px;
}
.igual{
    margin: 26px;
    font-size: 38px;
}
.destrave{
    background: #801A3F;
    color: white;
    padding-left: 7%;
    text-align: center;
}
.btnFooter h1{
    margin-top: -41px;
    font-weight: bolder;
    font-size: 22px;
    color: white;
}
.btnFooter{
    cursor:pointer;
    text-align: center;
}
.cronograma{
    height: 300px;
    text-align: center;
}
.cronograma h1{
    font-size: 26px;
    font-weight: bold;
}
.relogio{
    margin-top: 10px;
    margin-bottom: 13px;
}
.dados_footer{
    margin-top: -98px;
    margin-left: 41%;
    /* float: inherit; */
    position: absolute;

}
.conteudoConheca{
    margin-top: 9%;
    color: white;
}
.conteudoConheca h1{
    font-size: 29px;
    font-weight: bold;
}
.conteudoConheca small{
    font-size: 16px;
}
/*carrosel pacote completo*/
/*reset*/
*{
    margin: 0;
    padding: 0;
    list-style: none ;
    outline: 0;
    font-family: 'Arial','Sans-Serif';
}

#content {
    margin: 0 auto;
    width: 650px;
    height: 200px;
}

@media (max-width: 768px){
    #carrossel {
        float: left;
        width: 375px !important;
        overflow: hidden;
        height: 650px !important;
    }

    #carrossel ul li {
        width: 140px;
        margin-top: 24px;
        float:none !important;
    }
    /*.pacote{*/
        /*margin-top: 0px !important;*/
    /*}*/
    .pacotecompleto{
        height: 885px !important;
    }

    form .row{
        display: block !important;
    }
    body { overflow-x: hidden; }
}

#panelTurmas .panel-heading{
    background-color: #012663 !important;
    color: #ffffff !important;
    background-image: none;
}

#panelTurmas .local {
    background-color: #cbcbcb !important;
    color: #000000 !important;
    background-image: none !important;
}


#link{
    background: #d89f16;
    width: 158px;
    cursor: pointer;
    height: 31px;
    color: white;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-bottom: 80px;
    text-decoration: none;
}

#link:hover{
    background-color: #eb9316;
    text-decoration: none;
    background-position: 0 -15px;
}

#carrossel {
    float: left;
    width: 630px;
    overflow: hidden;
    height: 150px;
}

#carrossel ul li {
    width: 140px;
    height: 150px;
    float: left;
    margin: 0 5px;
    margin-top: 24px;
}

#menu-carrossel {
    float: left;
    clear: both;
    /*width: 7%;*/
    /*margin-left: 76px;*/
    border: solid 2px white;
    border-radius: 30px;
    margin-top: 17px;
    width: 55px;
}
#menu-carrossel a{
    color: white;
}
/*fim carrosel*/

.corpo_pacote_completo{
    margin-top: -272px;
}
.desc{
    color: white;
    border-right: solid 3px white;
}
.subDesc{
    float:left;
    border-right: solid 3px white;
    margin-top: 20px;
}
.subDesc h1{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color:#ffffff;
}
.subDesc small{

    color:#ffffff;
}


#carrossel ul li img{
    width: initial !important;
}
#carrossel ul li h2 {
    font-size: 20px;
    color: white;
    margin-left: -1px;
}
.corpo_perfeita{
    /*margin-top: -456px;*/
    text-align: center;
    margin-top: 8%;
}

@media (max-width: 780px){
    .corpo_perfeita{
    text-align: center;
    margin-top: 0%;
    }
}
.corpo_perfeita h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 29px;
    color: white;
}
.itens{
    border: solid 2px white;
    margin: 10px;
    /*margin-left: 49px;*/
    color: white;
}
.footer_perfeita h1{
    font-size: 22px;
    margin-top: 10%;
}
.footer_perfeita small{
    color: white;
}
.quem-somos{
    position: absolute;
    /*width: 392px;*/
}
.quem-somos h1{
    color: #3D3D3D;
    font-weight: bolder;
    text-transform: uppercase;
}
.programa ul li img{
    margin-right: 15px;
}
.programa h1{
    color: #3D3D3D;
    font-weight: bolder;
    text-transform: uppercase;
}
.metodologia{
    position: absolute;
    margin-top: -16px;
}
.metodologia h1{
    color: #3D3D3D;
    font-weight: bolder;
    text-transform: uppercase;
}
.descAtividade h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}
.atividades ul{
    text-align: center;
}
.atividades ul li{
    display: inline-block;
    margin: 7px;
}
.atividades ul li h3{
    font-size: 15px;
    width: 125px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #3D3D3D;
}
.beneficio{
    position: absolute;
    width: 402px;
}
.beneficio h1 {
    color: #3D3D3D;
    font-size: 23px;
    font-weight: bolder;
    text-transform: uppercase;
}
.beneficio ul li{
    font-size: 13px;
}
.networking{
    position: absolute;
    margin-top: 12px;
}
.imersao h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
.sua-inscricao{
    margin-top: -55px;
    background: #182A62;
    width: 100%;
    min-height: 545px;
}

@media (max-width: 768px){
    .formulario{
        color: white;
        width: 0 !important;
        float: none !important;
        margin-right: 0 !important;
        text-align: center !important;
        margin-top: 0 !important;
    }

    .formulario2{
        color: white ;
        width: 99% !important;
        float: none !important;
        margin-right: 0 !important;
        text-align: center !important;
        margin-top: 0 !important;
    }
    .sua-inscricao{
        margin-top: 0px;
        background: #182A62;
        /* min-height: 558px; */
        /* margin-top: 10px; */

        height: 600px !important;
        margin-bottom: -20px !important;
    }
    .inscrição{
        margin-top: 0px !important;
        background: #182A62;
         min-height: 0px;

        margin-bottom: -20px !important;
    }

    #formPadrao{
        width: 99% !important;
    }

}

.inscrição{
    margin-top: -53px;
    background: #182A62;
     min-height: 558px;
}
.formulario2{
    color: white;
    width: 45%;
    float: right;
    margin-right: 100px;
    text-align: center;
    margin-top: 50px;
}
.formulario{
    color: white;
    width: 28%;
    float: right;
    margin-right: 100px;
    text-align: center;
    margin-top: 50px;
}
.formulario h2{
    font-size: 20px;
}
.formulario h1{
    font-size: 25px;
    margin-top: -5px;
    font-weight: bolder;
    margin-bottom: 24px;
}
.formulario p{
    font-size: 14px;
}
.formulario img{
    margin-right: -266px;
    margin-top: -123px;
}


.wpcf7-form .row .col-sm-16{
    padding: 5px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
{
    font-size: 18px;
    color: #ffffff;
    padding: 8px 16px;

    background: -moz-linear-gradient(
            top,
            #ff7300 0%,
            #ff7300 50%,
            #d96200 50%,
            #d96200);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#ff7300),
            color-stop(0.50, #ff7300),
            color-stop(0.50, #d96200),
            to(#d96200));
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 0px solid #d96200;
    -moz-box-shadow:
            0px 0px 3px rgba(000,000,000,0),
            inset 0px 0px 0px rgba(255,255,255,1);
    -webkit-box-shadow:
            0px 0px 3px rgba(000,000,000,0),
            inset 0px 0px 0px rgba(255,255,255,1);
    box-shadow:
            0px 0px 3px rgba(000,000,000,0),
            inset 0px 0px 0px rgba(255,255,255,1);
    text-shadow:
            0px -1px 0px rgba(000,000,000,0.2),
            0px 1px 0px rgba(255,255,255,0.4);
}

#formPadrao input[type=text],
#formPadrao textarea{
    width: 100%;
    border-radius: 7px;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#formPadrao input[type=submit]{
    margin-top: -14px;
    width: 100%;
    height: 41px;
    border-radius: 7px;
    border: none;
    background: #1DA511;
    font-size: 21px;
    color: white;
    font-weight: bolder;
}

#formPadrao input[type=submit]:hover{
    margin-top: -14px;
    width: 100%;
    height: 41px;
    border-radius: 7px;
    border: none;
    background: #007c01;
    font-size: 21px;
    color: white;
    font-weight: bolder;
}


#formPadrao{
    width: 60%;
    margin-top: 14px;
}
.estado{
    margin-left: 2px;
    margin-right: 11px;
    width: 30%;
}
.contato-index input[type=text],
.contato-index textarea{
    width: 100%;
    border-radius: 7px;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.contato-index textarea {
    width: 302px;
    height: 150px;
    margin-left: 12px;
}

@media (max-width: 760px){
    .contato-index textarea {
        width: 100% !important;
        height: 147px !important;
        margin-left: 0px !important;
        margin-top: -8px !important;
    }
    .contato-index input[type=submit]{
        width: 100%  !important;
        height: 65px !important;
        border-radius: 7px !important;
        border: none !important;
        font-size: 21px !important;
        color: white !important;
        font-weight: bolder !important;
        margin-left: 0 !important;
        margin-top: -14px;
    }
    .contato-index input[type=submit]:hover{
        width: 100% !important;
        height: 65px !important;
        border-radius: 7px !important;
        border: none !important;
        font-size: 21px !important;
        color: white !important;
        font-weight: bolder !important;
        margin-left: 0 !important;
        margin-top: -14px;
    }
    .carrosselicon{
        position: static !important;
        width: 180px !important;
         left: 0px !important;
    }
    .espaco{
        margin-bottom: -20px !important;
    }
    .imagempontos{
        margin-left: 0px !important;
    }



    .texto1{
        position: static;
    }

}

.imagempontos{
    margin-left: 390px;margin-top: 80px;position: absolute;
}

.contato-index input[type=submit]{
    width: 130px;
    height: 150px;
    border-radius: 7px;
    border: none;
    background: #1DA511;
    font-size: 21px;
    color: white;
    font-weight: bolder;
    margin-left: 14px;
}
.contato-index input[type=submit]:hover{
    width: 130px;
    height: 150px;
    border-radius: 7px;
    border: none;
    background: #007c01;
    font-size: 21px;
    color: white;
    font-weight: bolder;
    margin-left: 14px;
}
.carousel-caption{
    margin-top: 100px !important;
    position: relative !important;
}

.descContato{
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 46px;
}
.descContato strong{
    font-weight: bolder;
}
.proxima{
    text-align: center;
}
.proxima h1{
    font-weight: bold;
    font-size: 19px;
}
#getting-started{
    font-size: 69px;
    font-weight: bolder;
}
.titulos{
    display: inline-flex;
}
.titulos h4{
    margin: 22px;
    margin-bottom: 0;
}
.lab{
    display: inline-flex
}
.lab strong{
    padding: 10px;
}
.inp{
    background: #d0d0d0;
    width: 316px;
    height: 37px;
    text-align: center;
    padding: 9px;
}
.btnInscricao button{
    margin-top: 58px;
    margin-left: 68px;
    background: #d89f16;
    width: 158px;
    cursor: pointer;
    height: 31px;
    color: white;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-bottom: 80px;
}
.proxTurmas{
    text-align: center;
}
.proxTurmas h1{
    font-size: 19px;
    font-weight: bold;
}
.proxTurmas table{
    display: initial;
}
.proxTurmas table tbody tr td{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}
.proxTurmas table tbody tr td a{
    border: solid 1px;
    border-radius: 15px;
    padding: 5px;
}
.proxTurmas table thead tr th{
    padding-bottom: 24px;
    text-align: center;
    padding-top: 10px;
}
.promo_topo{
    text-align: center;
    position: absolute;
    margin-top: 9%;
    color: white;
    width: 100%;
}
.promo_topo h1{
    font-size: 25px;
    font-weight: bolder;
}
.promo_topo h2{
    font-size: 17px;
    margin-top: -9px;
}
.promo_topo strong{
    font-style: italic;
}
.btnComoParticipo button{
    margin-top: 16px;
    background: #e3cc1d;
    width: 204px;
    cursor: pointer;
    height: 38px;
    color: white;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-bottom: 80px;
}

.wpcf7-not-valid-tip{
    color: #ffffff;
    font-weight: bold;

    margin-bottom: 5px;
    display: inline-block;
}
.wpcf7-validation-errors{
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: -15px;
    font-style: italic;
}

.screen-reader-response {
    display: none;

}



.menu1{
    animation-delay: 0.2s;
}
.menu2{
    animation-delay: 0.5s;
}
.menu3{
    animation-delay: 0.8s;
}
.menu4{
    animation-delay: 1.1s;
}
.menu5{
    animation-delay: 1.4s;
}
.carrossel1{
    animation-delay: 0.5s;
}


#depoimentos .box-depoimento .slider-depoimento .depoimento img.thumb{
    display: block;
    margin: 0 auto;
    max-width: 165px;
    border: 1px solid white;
    padding: 15px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}


@media (max-width: 768px){
    .imagemcomofunciona{
        display: none !important;
    }
    .quem-somos{
        position: relative !important;
    }
    .metodologia{
        position: relative !important;
    }
    .beneficio{
        position: relative !important;
    }
    .networking{
        position: relative !important;
    }
}